@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 66% 99%;
    --foreground: 228 80% 0%;
    --muted: 226.42 0% 94.62%;
    --muted-foreground: 348 11% 30%;
    --popover: 228 66% 99%;
    --popover-foreground: 228 80% 0%;
    --card: 228 66% 99%;
    --card-foreground: 228 80% 0%;
    --border: 228 10% 94%;
    --input: 228 10% 94%;
    --primary: 228 63% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 348 80.72% 64.09%;
    --secondary-foreground: 0 0% 100%;
    --accent: 228.68 28.97% 93.5%;
    --accent-foreground: 233.33 2.7% 23.22%;
    --destructive: 360 100% 61.4%;
    --destructive-foreground: 7 80% 98%;
    --ring: 228 63% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 228 38% 0%;
    --foreground: 228 22% 100%;
    --muted: 348 2.24% 7.52%;
    --muted-foreground: 0 0% 53.33%;
    --popover: 228 38% 0%;
    --popover-foreground: 228 22% 100%;
    --card: 228 38% 0%;
    --card-foreground: 228 22% 100%;
    --border: 228 10% 14%;
    --input: 228 10% 14%;
    --primary: 228 63% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 348 63% 51%;
    --secondary-foreground: 0 0% 100%;
    --accent: 108 2.01% 22.62%;
    --accent-foreground: 120 5.11% 82.17%;
    --destructive: 0 87.54% 62.96%;
    --destructive-foreground: 0 0% 100%;
    --ring: 228 63% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
